@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
.flex{
    display: flex;
    justify-content: space-between;
    
}
.card p {
    background-color: rgb(225, 195, 243);
    padding: 30px;
}
body{
    font-family: 'MuseoModerno';  
}
.holder-content{
    margin: 0 25%;
}
.diagonal-efect{
    width: 100px;
    height: 100px;
    background: grey;
    -webkit-transform: skew(20deg); /* Chrome, Opera */
    -ms-transform: skew(20deg); /* IE */
    transform: skew(20deg); /* Padrão */
}